table {
  width: 100%;
}

.search-columns {
  display: flex;
}

.search-column {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.search-buttons {
  display: flex;
  justify-content: end;
}

.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 500px;
  overflow: auto;
}

.table-buttons {
  display: flex;
  justify-content: end;
  padding-top: 10px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
